<div class="container-fluid">

  <div class="main" >
    <div class="col-1 menu">
      <button class="btn btn-info" routerLink="/main" routerLinkActive="active"> main</button>
      <button class="btn btn-info" routerLink="/texture" routerLinkActive="active">texture</button>
      <button class="btn btn-info" routerLink="/coordinateSystem" routerLinkActive="active">coordinate system</button>
      <button class="btn btn-info" routerLink="/extrude" routerLinkActive="active">House</button>
    </div>
    <div class="col-11 workspace">
      <router-outlet ></router-outlet>
    </div>
  </div>


</div>


