.main{
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.menu{
    padding-top: 1em;
    background:  #625f5f;

    button {
        width: 100%;
        margin-bottom: 3px;
        font-weight: 500;
    }
}

.workspace{
    padding: 0;
}